form {
    text-align: center;
    align: center;
    margin:5px 0px; padding:0px;
}

.logocenter{
    text-align: center;
    align: center;
    margin-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#searchbar {
    width: 550px;
    background-color: transparent;
    border: 1px solid 	rgb(232,232,232);
    color: rgba(0,0,0,.87);
    height: 34px;
    font-size: 16px;
    align:center;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 275px; /*rounds the edges of the search-bar*/
    text-align: auto;
    padding: 5px 5px 5px 45px; /* adds space between the cursor and the border of the search-bar*/

}


.search-button {
    background: transparent;
    border: none;
    outline: none;
    background-position: left center;
    left: 430px;
    margin-top: 32px;
    position: absolute;
    display: inline-block;
    pointer-events: none; /*makes magnifying glass appear as an image instead of a clickable link*/
}

.search-button img {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.footerstyling {
    position: absolute;
    bottom: 0; /*bottom/top work only when position is absolute*/
    height: 3rem;
    width: 100%;
    background-color: rgb(240,240,240);
    display: block;
    color: #70757a;
    font-size: 14px;
    display: flex;
}

.footerleft {
    display: flex;
    margin-left: 20px;
    position: absolute;
}

.footerright {
    display: flex;
    margin-left: 840px;
    position: absolute;
    right: 15px;
}

.footercenter {
    bottom: 0;
    color: #70757a;
    font-size: 14px;
    position: absolute;
}

.footercenterstyling {
    text-align: center;
    align-content: center;
    bottom: 0;
}

.footerfontcolor {
    color: #70757a;
}

p {
    margin: 5px;
    padding: 10px;
    font-family: Roboto,arial,sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;

}

a:hover {
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}
